<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
    <div class="card-header">
      Register User
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-12 margin">
        <label for="name ">Name</label>
        <input type="text" name="" id="name" class="form-control " formControlName="userName">
        <span *ngIf="!userName.valid && (userName.touched || flagSubmitted)" class="error-block">
          Please enter the Name
         </span>
      </div>
      <div class="form-group col-12 margin">
        <label for="email">Email</label>
        <input type="email" name="" id="email" class="form-control " formControlName="email">
        <span *ngIf="!email.valid && (email.touched || flagSubmitted)"class="error-block">
          <span *ngIf="email.hasError('required')">
            Please enter email address
          </span>
          <span *ngIf="email.hasError('email')">
            Please enter valid email address
          </span>

         </span>
      </div>
      <div class="form-group col-12 margin">
        <label for="password">Password</label>
        <input type="password" name="" id="password" class="form-control " formControlName="password">
        <span *ngIf="!password.valid && (password.touched || flagSubmitted)" class="error-block">
          <span *ngIf="password.hasError('required')">
            Please enter password
          </span>
          <span *ngIf="password.hasError('minlength')">
            Password length should be 6 chars long
          </span>
         </span>
      </div>
      <div class="form-group col-12 margin">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="" id="confirmPassword" class="form-control " formControlName="confirmPassword">
        <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || flagSubmitted)" class="error-block">
          <span *ngIf="confirmPassword.hasError('required')">
            Enter confirm password
          </span>
        </span>
        <span *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
          Password Mismatch
        </span>
      </div>
      <div class="form-group col-12 margin">
        <label for="mobile">Mobile No</label>
        <input type="text" name="" id="mobile" class="form-control " formControlName="mobile">
        <span *ngIf="!mobile.valid && (mobile.touched || flagSubmitted)" class="error-block">
          Enter valid contact no
         </span>
      </div>
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <button type="reset" class="btn btn-secondary ">Cancel</button>
        <button class="btn btn-primary" [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
          Do it!
        </button>
      </div>
    </form>
    </div>
  </div>
  </div>

<div class="row col-6">
  <h1>testing</h1>
  <div>
    <app-property-card [property]="propertyview"></app-property-card>
  </div>
</div>


</div>
