<div class="card px-2 py-2">
  <div class="img-wrapper">
  <img  class="card-img-top" src="assets/defaulthouse.png">
  <ul class="list-inline text-center member-icon">
    <li class="list-inline-item">
      <button class="btn btn-primary">E</button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-primary">C</button>
    </li>
  </ul>
  <div class="card-body p-2">
      <h1>{{property.Id}}</h1>
      <h2>{{property.name}}</h2>
      <h3>{{property.price}}</h3>
      </div>
    </div>
  <div>
  </div>
</div>



