<div class="card px-2 py-2" >
  <div class="card-img-wrapper">
     <img  *ngIf="property.image" class="card-img-top position-relative" src="assets/images/{{property.image}}.jpg">
     <img  *ngIf="!property.image" class="card-img-top position-relative" src="assets/images/defaulthouse1.jpg">

    <ul class="list-inline text-center member-icon animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
    </div>
    <!-- <div class="card-body p-2">
      <h2>{{property.name}}</h2>
      <h3>{{property.price}}</h3>
      <h4>{{property.ptype}}</h4>
    </div> -->
    <div class="card-body p-1">
      <h1 class="mb-0"> {{property.BHK}} BHK {{property.ptype}} </h1>

      {{property.name}}
      <span *ngIf="property.name">,</span>
      {{property.city}}

      <h6  class="mt-2">{{property.ftype}}
      <span *ngIf="property.ftype !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

      <hr class="mt-0 mb-2">

      <h6 class="mb-0">Price: <span class>{{property.price}} USD.</span> |
        Area:  <span>{{property.builtArea}} Sq Ft </span> </h6>

    </div>
<div>



